:root {
  --lighter-orange: rgb(248, 170, 133);
  --light-orange: rgb(253, 155, 109);
  --medium-orange: rgb(255, 126, 67);
  --dark-orange: rgb(255, 97, 24);
  --lighter-blue: rgb(91, 157, 181);
  --light-blue: rgb(84, 154, 179);
  --medium-blue: rgb(38, 132, 158);
  --dark-blue: rgb(20, 86, 104);
  --darker-blue: rgb(10, 75, 93);
  --even-darker-blue: rgb(7, 55, 68);
  --darkest-blue: rgb(4, 39, 48);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--darker-blue);
  color: var(--medium-orange);
  font-family: fantasy;
  font-size: 18px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.invisible {
  display: none;
}

/* BUTTONS */

.button {
  cursor: pointer;
}

/* LOGIN BUTTON */

#logInButton {
  position: fixed;
  top: 2px;
  right: 340px;
  background-color: white;
  padding: 2px;
  width: 80px;
  border-radius: 10px;
  border: solid 0.1px var(--dark-blue);
  color: var(--dark-blue);
  z-index: 1;
}

/* REGISTRATION BUTTON */

#registrationButton {
  position: fixed;
  top: 3px;
  right: 210px;
  width: 140px;
  padding: 1px;
  background: var(--dark-blue);
  border-radius: 10px;
  border: solid 0.1px var(--dark-blue);
  color: var(--lighter-blue);
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  height: 120px;
  top: 25px;
  background-image: linear-gradient(var(--dark-blue), var(--darker-blue));
}

header h1 {
  color: var(--dark-orange);
  font-size: 70px;
  padding-top: 10px;
}

ul {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  font-size: 19.5px;
  cursor: pointer;
}

/* SIDE MENUS */

.sidebar {
  width: 175px;
  height: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0.8;
}

#leftSidebar {
  left: 0px;
  background-image: linear-gradient(
    to left,
    var(--darkest-blue),
    var(--even-darker-blue)
  );
}

#rightSidebar {
  right: 0px;
  background-image: linear-gradient(
    to right,
    var(--darkest-blue),
    var(--even-darker-blue)
  );
}

.sidebar h2 {
  margin-top: 100px;
  color: var(--dark-orange);
}

.sidebar h3 {
  margin: 50px 0px 25px;
  color: var(--dark-orange);
}

.setCategories {
color: var(--medium-orange);
}

.flashySet {
  color: white;
}

#newSet {
  margin-top: 50px;
}

#createNewSet {
  margin-top: 20px;
  color: white;
}

.savedSet {
  color: white;
}

/* CARD CONTAINER */

#cardContainer {
  background-image: linear-gradient(
    to top right,
    var(--dark-blue),
    var(--medium-blue)
  );
  border-style: solid;
  border-width: 8px 8px 4px 4px;
  border-color: var(--dark-blue);
  border-radius: 25px 25px 25px 0px;
  width: 1100px;
  height: 600px;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

/* CARDS */

#card {
  background-image: linear-gradient(
    var(--even-darker-blue),
    var(--darker-blue)
  );
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
  border-color: var(--darker-blue);
  width: 400px;
  height: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* WORDS */

#word {
  font-size: 45px;
  margin-top: 85px;
  color: white;
}

#translation {
  font-size: 45px;
  margin-top: 85px;
  color: var(--dark-orange);
}

#card hr {
  width: 250px;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FOOTER */

footer {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0px;
  background-image: linear-gradient(var(--darker-blue), var(--medium-blue));
}

footer ul {
  margin-top: 20px;
}

footer ul li {
  display: inline;
  padding: 80px;
}

footer ul li a {
  color: var(--medium-orange);
}
